<div class="container-fluid main-content">
    <div class="row">
        <form ng-submit="save()" id="validate-form" novalidate="novalidate"
              style="margin-left: 25%;margin-right: auto; display: block;">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input ng-model="form.name" class="form-control" id="name" name="name" type="text">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input ng-model="form.email" class="form-control" id="email" name="email" type="text">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input ng-model="form.password" class="form-control" id="password" name="password"
                                   type="text">
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Save">
            </fieldset>
        </form>

        <div class="col-md-12">
            <div class="form-group" class="col-md-6">
                <label for="searchText">Search</label>
                <input ng-model="searchText" id="searchText" class="form-control">
            </div>
            <div class="widget-container fluid-height clearfix">

                <div class="widget-content padded clearfix">
                    <table class="table table-hover">
                        <thead>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in student | filter:searchText">
                            <td>
                                <a ui-sref="onestudent({id:s.id})">{{s.id}}</a>
                            </td>
                            <td>
                                {{s.name}}
                            </td>
                            <td>
                                {{s.email+"@"+account.email}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="delete(s)">Delete &nbsp;&nbsp;&nbsp;
                                    {{textterm}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="update(s)">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>