<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activation Message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background-color:#e7e7e7;padding-top:35px;padding-bottom:35px">
    <table align="center" border="0" rules="none" style="border:1px solid #d7d7d7;width:650px">
        <tbody>
        <tr align="center" style="background-color:#007aff" valign="middle">

        </tr>
        <tr style="background-color:#007aff">
            <td colspan="3" height="135" valign="bottom">
                <p style="margin:0;text-align:center">
                    <span style="color:#f8f8f8;font-family:tahoma,arial,helvetica,sans-serif;font-size:30pt">
                        Your Activation
                    </span>
                </p>
            </td>
        </tr>
        <tr style="background-color:#007aff">
            <td colspan="3" height="25" valign="middle"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff"></td>
            <td style="background-color:#ffffff" valign="top">
                <p>
                    <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:16pt">Dear <p
                            th:text="${name}"></p>.</span>
                </p>

                <p>
                    <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:16pt">Thank you for trying out CreditHour. </span>
                </p>

                <p>
                    <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:16pt"> This message confirms that you have successfully signed up</span>
                </p>
            </td>
            <td style="background-color:#ffffff"></td>
        </tr>
        <tr style="background-color:#ffffff">
            <td colspan="3" height="15"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff" height="10"></td>
            <td style="background-color:#eeeeee" height="10"></td>
            <td style="background-color:#ffffff" height="10"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff;width:100px"></td>
            <td style="background-color:#eeeeee">
                <table>
                    <tbody>
                    <tr>
                        <td width="10"></td>
                        <td>
                            <p>
                                <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:16pt">
                                    You can activate your account
                                    <a th:href="${url}" style="color:#007aff" target="_blank">
                                        here
                                    </a>

                                </span>
                            </p>
                        </td>
                        <td width="10"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="background-color:#ffffff;width:100px"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff" height="10"></td>
            <td style="background-color:#eeeeee" height="10"></td>
            <td style="background-color:#ffffff" height="10"></td>
        </tr>
        <tr style="background-color:#ffffff">
            <td colspan="3" height="30"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff;width:100px"></td>
            <td style="background-color:#ffffff">
                <p>
                    <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:16pt">
                        thanks for joining us
                    </span>
                </p>
            </td>
            <td style="background-color:#ffffff;width:100px"></td>
        </tr>
        <tr style="background-color:#ffffff">
            <td colspan="3" height="30"></td>
        </tr>
        <tr>
            <td style="background-color:#ffffff"></td>
            <td height="20" style="background-color:#ffffff" valign="middle"></td>
            <td style="background-color:#ffffff"></td>
        </tr>
        <tr style="background-color:#ffffff">
            <td colspan="3" height="60"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>